<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="access2003" value="database/data.mdb"/>
    <add key="access2013" value="database/data.accdb"/>
    <add key="sqlite" value="database/data.db"/>
  </appSettings>
</configuration>
