<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="4.1.1" targetFramework="net40" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net40" />
  <package id="MySql.Data" version="6.9.9" targetFramework="net40" userInstalled="true" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net40" userInstalled="true" />
  <package id="odp.net.x64" version="112.3.20" targetFramework="net4" userInstalled="true" />
  <package id="System.Data.SQLite.Core" version="1.0.103" targetFramework="net40" userInstalled="true" />
</packages>